ion-content.site{
    --padding-top: 23%;    
    --background: rgb(34,193,195);
    --background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,161,253,1) 100%);
}
ion-content.scan{
    --background:#00000000;
}
ion-content ion-grid {    
    text-align: center;
}

ion-fab-button.reload{
    width: 30px !important ; 
    height: 30px !important ;
}
.alert-limpiar-saldo{
    background-color:red;
}
ion-content ion-button.scanear{
    --background:rgb(107, 223, 107);
    height: 12vh;
    margin-top:18px;    
}

ion-content ion-button.salir{    
    height: 8vh;    
}

h1,.saldo,.subtitulo{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;    
    color: white;
}
h1{
    font-size:3em;
    margin:0;
}
.saldo{
    font-size:11em;    
  
}
.subtitulo{
    font-size:2em;    
}

.scanbox{
    border:2px solid #fff;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    content:'';
    display:block;
    left: 50%;
    height: 300px;
    position:absolute;
    top:50%;
    transform: translate(-50%, -50%);
    width:300px;
}
