ion-content{
    --padding-top: 10%;    
    --background: rgb(34,193,195);
    --background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,161,253,1) 100%);
}
ion-content ion-grid {
    margin-top:15vh;
    text-align: center;
}
ion-content ion-button{
    --background:rgb(107, 223, 107);
    height: 12vh;
    margin-top:18px;    
}
h1,.saldo,.subtitulo{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;    
    color: white;
}
h1{
    font-size:1.2em;
}
.saldo{
    font-size:5em;    
  
}
.subtitulo{
    font-size:0.8em;    
}


