<ion-content>
  <ion-row>
    <ion-col>
      <h1>¡Empezá a cargar <br/>con nosotros!</h1>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
        <div class="input-group">
          <ion-item >
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="username" required></ion-input>
          </ion-item>
          <!-- user error messages -->
          <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors ion-padding">
          <span *ngIf="username.errors?.required"> El correo es requerido.</span>
          <span *ngIf="username.errors?.minlength"> El correo debe tener al menos cuatro carácteres.</span>
          <span *ngIf="username.errors?.email"> Debe agregar un correo valido.</span>
          </div>
        </div>
        <div class="input-group">
          <ion-item >
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <!-- password Error messages -->
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors ion-padding">
            <span *ngIf="password.errors?.required"> La contraseña es requerida.</span>
            <span *ngIf="password.errors?.minlength"> La contraseña debe tener al menos cuatro carácteres.</span>
          </div>
        </div>
        <ion-button type="submit" expand="block">Ingresar Ahora</ion-button>
        <!--
        <ion-button type="button" expand="block" color="secondary"  [routerLink]="['/register']" >¡ Crear una cuenta !</ion-button>
        -->
      </form>
    </ion-col>
  </ion-row>
</ion-content>

<ion-fab vertical="bottom"  horizontal="start" class="fab-tester">
  <ion-fab-button color="tertiary" >Testers</ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button (click)="loadAdmin()" color="tertiary">
      ADM
    </ion-fab-button>
    <ion-fab-button  color="tertiary" (click)="loadInvitado()" >
      INV
    </ion-fab-button>
    <ion-fab-button  color="tertiary" (click)="loadUsuario()">
      USU
    </ion-fab-button>
    <ion-fab-button  color="tertiary" (click)="loadAnonimo()">
      ANM
    </ion-fab-button>
    <ion-fab-button  color="tertiary" (click)="loadAdmin()" >
      ADM
    </ion-fab-button>
    <ion-fab-button  color="tertiary" (click)="loadTester()" >
      TST
    </ion-fab-button>      
  </ion-fab-list>    
</ion-fab>