ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url("/assets/background-b.jpeg") 0 0/100% 100% no-repeat black;
}
ion-button {
    border-radius: 15px;
}

.input-group {
    background: var(--ion-color-light);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.errors {
    font-size: small;
    color: var(--ion-color-light);
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
