<ion-header>
  <ion-toolbar>
    <ion-title>Registra tu usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicRegister" (ngSubmit)="register()" novalidate>
    <div class="input-group">
      <ion-item>
        <ion-input formControlName="username" type="email" placeholder="Correo" ngModel required></ion-input>
      </ion-item>
      <!-- Error messages -->
      <!-- user error messages -->
      <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors ion-padding">
        <span *ngIf="username.errors?.required"> El username es requerido.</span>
        <span *ngIf="username.errors?.minlength"> El correo debe tener al menos cuatro caracteres.</span>
        <span *ngIf="username.errors?.email"> Debe agregar un correo valido.</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      <!-- Error messages -->
      <!-- password Error messages -->
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors ion-padding">
        <span *ngIf="password.errors?.required"> El password es requerido.</span>
        <span *ngIf="password.errors?.minlength"> El password debe tener al menos cuatro caracteres.</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input formControlName="confirm" type="password" placeholder="Repetir Password" ngModel required
          (keyup)="checkPassSame()"></ion-input>
      </ion-item>
      <!-- Error messages -->
      <div *ngIf="(confirm.dirty || confirm.touched) && confirm.errors" class="errors ion-padding">
        <span *ngIf="confirm.errors?.required"> El confirmaci&oacute;n es requerido.</span>
        <span *ngIf="confirm.errors?.minlength"> El confirmaci&oacute;n debe tener al menos cuatro caracteres.</span>
        <span *ngIf="errorMessage != ''"> La confirmaci&oacute;n de password debe ser igual al password.</span>
      </div>
    </div>
    <ion-button type="submit" expand="block">Crear cuenta</ion-button>
    <ion-button type="button" expand="block" color="secondary"  [routerLink]="['/login']" >¡ Tengo cuenta !</ion-button>
  </form>
</ion-content>